section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
  .resume-item {
    .resume-content {}
    .resume-date {
      min-width: none;
    }
  }
}
@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
    .resume-item {
      .resume-date {
        min-width: 18rem;
      }
    }
  }
}
@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

@mixin transformScale($size: 1) {
  transform: scale($size);
  -ms-transform: scale($size);
  -webkit-transform: scale($size);
}

body {
  background-color: rgba($iconColor, 0.05);
}

.social-container {
  width: 400px;
  margin: 40vh auto;
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;

  li {
      display: inline-block;
      margin: 0.15em;
      position: relative;
      font-size: 1.2em;

  }

  i {
      color: #fff;
      position: absolute;
      top: 21px;
      left: 21px;
      transition: all $timing ease-out;
  }

  a {
      display: inline-block;
    
      &:before {
          @include transformScale();
          content: " ";
          width: 60px;
          height: 60px;
          border-radius: 100%;
          display: block;
          background: linear-gradient(45deg, $iconColor, $accent);
          transition: all $timing ease-out;
      }
      
      &:hover:before {
          transform: scale(0);
          transition: all $timing ease-in;
      }
      
      &:hover i {
          @include transformScale(2.2);
          color: $iconColor;
          background: -webkit-linear-gradient(45deg, $iconColor, $accent);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: all $timing ease-in;
      }
  }

}
